process {
  withLabel: bear {
    executor = 'slurm'
    clusterOptions='--account=ACCOUNT --qos=QOS --time 300:0 --nodes 1'
  }
}

aws {
  accessKey = ""
  secretKey = ""
  client {
	  endpoint = ""
	  protocol = 'HTTPS'
  }
}

conda {
  cacheDir = "/path/to/conda/cache/"
}

executor {
  $local {
    cpus = 60
  }

  $slurm {
    queueSize = 1500
    queueStatInterval = '30 sec'
    pollInterval = '30 sec'
  }
}

process {
  withLabel: ocarina {
    env {
      MAJORA_DOMAIN        = "$MAJORA_DOMAIN"
      MAJORA_USER          = "$MAJORA_USER"
      MAJORA_TOKEN         = "$MAJORA_TOKEN"
      MAJORA_CLIENT_ID     = "$MAJORA_CLIENT_ID"
      MAJORA_CLIENT_SECRET = "$MAJORA_CLIENT_SECRET"
      ELAN_SLACK_HOOK      = "$ELAN_SLACK_HOOK"
    }
  }
}
