params {
    mode = false
    ocarina_profile = false
}

if (params.mode == "ocarina"){
    params {
        manifest = false
        
    }
}

if (params.mode == "inbound"){
    params.minlen = 10000
    params.uploads_usern = 4 // <0>,cephfs,covid,bham,<user>
}

manifest {
    name = 'climb-covid/elan-nextflow'
    author = 'Samuel Nicholls (@samstudio8), Sam Wilkinson (@BioWilko)'
    description = 'Elan is the inbound distribution pipeline for CLIMB-COVID'
    mainScript = 'main.nf'
    nextflowVersion = '>=20.01.0'
    version = '2.0.0'
    defaultBranch = 'master'
    homePage = 'https://github.com/climb-covid/elan-nextflow'
    doi = '10.1186/s13059-021-02395-y'
}
